@import './sheets/colors';
@import '~bootstrap/scss/bootstrap';
@import './sheets/home';
@import './sheets/mail';
@import './sheets/login';

.bold {
	font-weight: 600;
}

button[type='submit'] {
	margin: 0.5em auto;
}

.full {
	box-sizing: border-box;
	height: 100%;
}

.nomargin {
	margin: 0;
	padding: 0;
}

.centerObject {
	display: block;
	margin: auto;
}

.accountSubmit {
	margin: 8px auto 8px;
}

.customFeedback {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 0.875em;
	color: var(--bs-form-invalid-color);
}
