@import './sheets/colors';
@import '~bootstrap/scss/bootstrap';
@import './sheets/home';
@import './sheets/mail';

.bold {
	font-weight: 600;
}

button[type='submit'] {
	margin: 0.5em auto;
}

.full {
	box-sizing: border-box;
	height: 100%;
}

.nomargin {
	margin: 0;
	padding: 0;
}

.accountSubmit {
	margin: 8px auto 8px;
}
