@import '~bootstrap/scss/bootstrap';
@import './sheets/colors';
@import './sheets/home';
@import './sheets/mail';

.bold {
	font-weight: 600;
}

button[type='submit'] {
	margin: 0.5em auto;
}

.content {
	margin: 1em auto;
	min-width: 350px;
	width: 80%;
	overflow-wrap: break-word;
}

.full {
	box-sizing: border-box;
	height: 100%;
}

.nomargin {
	margin: 0;
	padding: 0;
}

.emblemSpacing {
	margin-left: 12px;
}

.accountSubmit {
	margin: 8px auto 8px;
}
